Apr 01 18:01:58 ydb-ru-prestable ydb-ru-prestable-vla-0004 KIKIMR[823365]: 2020-04-01T15:01:58.433132Z :TENANT_SLOT_BROKER DEBUG: TTxUpdateNodeLocation Execute
Apr 01 18:01:58 ydb-ru-prestable ydb-ru-prestable-vla-0004 KIKIMR[823365]: 2020-04-01T15:01:58.433135Z :TENANT_SLOT_BROKER DEBUG: TTxUpdateNodeLocation Complete
Apr 01 18:01:58 ydb-ru-prestable ydb-ru-prestable-vla-0004 KIKIMR[823365]: 2020-04-01T15:01:58.470478Z :TENANT_SLOT_BROKER DEBUG: TTxUpdatePoolStatus execute for node 9601