{"collect_time": "2020-08-10 09:46:22", "cluster_id": "mdbkbeut80vtiba04gid", "cluster_name": "efimkins", "host": "sas-au0cwt9wu98m6t18.db.yandex.net", "database": "postgres", "pid": 25167, "user": "postgres", "application_name": "", "client_addr": null, "client_hostname": null, "client_port": -1, "backend_start": "2020-08-10 09:46:22.330498+03", "xact_start": null, "query_start": "2020-08-10 09:46:22.333591+03", "state_change": "2020-08-10 09:46:22.333623+03", "wait_event_type": "Client", "wait_event": "ClientRead", "state": "idle", "backend_xid": null, "backend_xmin": null, "query": "SELECT 42;", "backend_type": "client backend", "blocking_pids": [], "queryid": 651361249}
