@font-face {
    font-family: 'Inter Regular';
    src: url('https://static.double.tech/site-assets/fonts/Inter-Regular.otf') format('opentype'),
        url('https://static.double.tech/site-assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('https://static.double.tech/site-assets/fonts/Inter-Regular.woff') format('woff'),
        url('https://static.double.tech/site-assets/fonts/Inter-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url('https://static.double.tech/site-assets/fonts/Inter-SemiBold.otf') format('opentype'),
        url('https://static.double.tech/site-assets/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('https://static.double.tech/site-assets/fonts/Inter-SemiBold.woff') format('woff'),
        url('https://static.double.tech/site-assets/fonts/Inter-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Regular Bold';
    src: url('https://static.double.tech/site-assets/fonts/Inter-Regular-Bold.otf') format('opentype'),
        url('https://static.double.tech/site-assets/fonts/Inter-Regular-Bold.woff2') format('woff2'),
        url('https://static.double.tech/site-assets/fonts/Inter-Regular-Bold.woff') format('woff'),
        url('https://static.double.tech/site-assets/fonts/Inter-Regular-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
