$block: '.wrapper';

#{$block} {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;

    &__theme-button {
        align-self: flex-end;
        margin-bottom: 20px;
    }

    &__layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        margin-bottom: 56px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
}
