tskv	timestamp=2019-08-14 23:14:49,517	module=taxi.opentracing.reporter	level=INFO	link=5e2746256dbf44e3a561c5b2c3c07500	_type=span	host=chatterbox-iva-01.taxi.yandex.net	body={"operation_name": "/configs/values", "trace_id": "7524cd862e5c4f1b975dffbeabab06f0", "span_id": "ff2d7cf70d34449a9f71a60de9b740e2", "start_time": 1565813689.481596, "stop_time": 1565813689.516984, "tags": {"service": "chatterbox", "http.method": "POST", "http.url": "http://configs.taxi.yandex.net/configs/values", "span.kind": "client", "http.status_code": 200, "error": false}, "baggage": "{\\"report\\": \\"true\\"}"}	span_id=ff2d7cf70d34449a9f71a60de9b740e2	trace_id=7524cd862e5c4f1b975dffbeabab06f0	total_time=0.03538799285888672	text=Span finished
tskv	timestamp=2019-08-14 23:14:49,569	module=taxi.util.aiohttp_kit.context	level=INFO	link=None	_type=log	host=chatterbox-iva-01.taxi.yandex.net	text=config cache updated
tskv	timestamp=2019-08-14 23:14:49,577	module=taxi.util.aiohttp_kit.context	level=INFO	link=None	_type=log	host=chatterbox-iva-01.taxi.yandex.net	text=config cache updated
tskv	timestamp=2019-08-14 23:14:50,240	module=taxi.opentracing.reporter	level=INFO	link=c6d771e23e7e4a9495c13f696033d8bf	_type=span	host=chatterbox-iva-01.taxi.yandex.net	body={"operation_name": "/configs/values", "trace_id": "3a5a49a299294f35b74ff8297b4a98fa", "span_id": "0d7618080583400fb485fc5ceaea5eb2", "start_time": 1565813690.21677, "stop_time": 1565813690.240209, "tags": {"service": "chatterbox", "http.method": "POST", "http.url": "http://configs.taxi.yandex.net/configs/values", "span.kind": "client", "http.status_code": 200, "error": false}, "baggage": "{\\"report\\": \\"true\\"}"}	span_id=0d7618080583400fb485fc5ceaea5eb2	trace_id=3a5a49a299294f35b74ff8297b4a98fa	total_time=0.02343916893005371	text=Span finished
