apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: transfer-{{ .Values.transferSpec.id }}-replication
spec:
  selector:
    matchLabels:
      name: transfer-{{ .Values.transferSpec.id }}-replication
  serviceName: transfer-{{ .Values.transferSpec.id }}-replication
  replicas: {{ .Values.replication.worker_count }}
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: '9091'
        prometheus.io/scrape: 'true'
        checksum/config: '{{ .Values.transferSpec.src.params | toJson | sha256sum }}-{{ .Values.transferSpec.dst.params | toJson | sha256sum }}'
      labels:
        name: transfer-{{ .Values.transferSpec.id }}-replication
    spec:
      restartPolicy: Always
    {{- include "transfer.spec" (dict "commandType" "replicate" "Values" .Values) | nindent 6 }}
