containers:
  - name: transfer
    image: {{ .Values.image }}
    command:
      - "/usr/local/bin/trcli"
      - "{{ .commandType }}"
      - "--transfer"
      - "/var/config/config.yaml"
      - "--coordinator"
      - "{{.Values.coordinator.type}}"
      - "--coordinator-s3-bucket"
      - "{{.Values.coordinator.bucket}}"
      - "--log-level"
      - "{{.Values.log.level}}"
      - "--log-config"
      - "{{.Values.log.config}}"
    env:
      {{- range $name, $value := .Values.env }}
      - name: {{ $name }}
        value: {{ $value }}
      {{- end }}
    volumeMounts:
      - name: config-volume
        mountPath: /var/config/config.yaml
        subPath: config.yaml
    ports:
      - name: prometheus
        protocol: TCP
        containerPort: 9091
      - name: pprof
        protocol: TCP
        containerPort: 8080
      - name: health
        protocol: TCP
        containerPort: 3000
    resources:
      requests:
        memory: {{ .Values.resources.requests.memory }}
        cpu: {{ .Values.resources.requests.cpu }}
      limits:
        memory: {{ .Values.resources.limits.memory }}
        cpu: {{ .Values.resources.limits.cpu }}

volumes:
  - name: config-volume
    configMap:
      name: transfer-{{ .Values.transferSpec.id }}-config
      items:
        - key: config.yaml
          path: config.yaml
